<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{book.title}}</title>
  </head>
  <body>
    <section class="py-10 flex justify-center">
      <div class="w-10/12">
        <h1 class="text-center text-4xl">{{book.title}}</h1>
        <div class="flex justify-between mt-10">
          <div class="flex justify-between">
            <div class="w-3/12">
              <img src="{{book.thumbnailUrl}}" alt="" width="200" class="src" />
            </div>
            <div class="w-9/12">
              <div class="mt-10">
                <p class="text-3xl">short Description</p>
                <p>{{book.shortDescription}}</p>
              </div>

              <div class="mt-10">
                <p class="text-3xl">Number of Pages</p>
                <p>Total {{book.pageCount}} pages</p>
              </div>

              <div class="mt-10">
                <p class="text-3xl">Author</p>
                <p>{{book.authors|join:", "}}</p>
              </div>

              <div class="mt-10">
                <p class="text-3xl">Long Description</p>
                <p>{{book.longDescription}}</p>
              </div>
              <p>description</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
